/* All Gallery */

/* Галерея */
.all-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 4px; /* Отступы между изображениями */
  padding: 40px;
  justify-content: center; /* Центрируем галерею по горизонтали */
}

.all-gallery a {
  display: block;
  width: calc(50% - 10px); /* По два изображения в ряд на больших экранах */
  position: relative;
}

.all-gallery img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

/* Эффект затемнения при наведении */
.all-gallery a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Черный полупрозрачный фон */
  opacity: 0;
  transition: opacity 0.3s ease; /* Плавное появление затемнения */
}

.all-gallery a:hover::after {
  opacity: 1; /* Затемнение появляется при наведении */
}

.all-gallery a:hover img {
  cursor: pointer;
}

/* МЕДИА-ЗАПРОС ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВ (до 768px) */
@media (max-width: 768px) {
  .all-gallery {
    padding: 5px; /* Уменьшаем отступы для мобильных устройств */
  }
}

@media (max-width: 768px) {
  .all-gallery a {
    width: 100%; /* Один элемент на ряд */
  }
}

/* Conceps Gallery */

/* Галерея */
.conceps-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 4px; /* Отступы между изображениями */
  padding: 40px;
  justify-content: center; /* Центрируем галерею по горизонтали */
}

.conceps-gallery a {
  display: block;
  width: calc(50% - 10px); /* По два изображения в ряд на больших экранах */
  position: relative;
}

.conceps-gallery img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

/* Эффект затемнения при наведении */
.conceps-gallery a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Черный полупрозрачный фон */
  opacity: 0;
  transition: opacity 0.3s ease; /* Плавное появление затемнения */
}

.conceps-gallery a:hover::after {
  opacity: 1; /* Затемнение появляется при наведении */
}

.conceps-gallery a:hover img {
  cursor: pointer;
}

/* МЕДИА-ЗАПРОС ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВ (до 768px) */
@media (max-width: 768px) {
  .conceps-gallery {
    padding: 5px; /* Уменьшаем отступы для мобильных устройств */
  }
}

@media (max-width: 768px) {
  .conceps-gallery a {
    width: 100%; /* Один элемент на ряд */
  }
}

/* Ext Gallery */

/* Галерея */
.ext-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 4px; /* Отступы между изображениями */
  padding: 40px;
  justify-content: center; /* Центрируем галерею по горизонтали */
}

.ext-gallery a {
  display: block;
  width: calc(50% - 10px); /* По два изображения в ряд на больших экранах */
  position: relative;
}

.ext-gallery img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

/* Эффект затемнения при наведении */
.ext-gallery a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Черный полупрозрачный фон */
  opacity: 0;
  transition: opacity 0.3s ease; /* Плавное появление затемнения */
}

.ext-gallery a:hover::after {
  opacity: 1; /* Затемнение появляется при наведении */
}

.ext-gallery a:hover img {
  cursor: pointer;
}

/* МЕДИА-ЗАПРОС ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВ (до 768px) */
@media (max-width: 768px) {
  .ext-gallery {
    padding: 5px; /* Уменьшаем отступы для мобильных устройств */
  }
}

@media (max-width: 768px) {
  .ext-gallery a {
    width: 100%; /* Один элемент на ряд */
  }
}

/* INT Gallery */

/* Галерея */
.int-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 4px; /* Отступы между изображениями */
  padding: 40px;
  justify-content: center; /* Центрируем галерею по горизонтали */
}

.int-gallery a {
  display: block;
  width: calc(50% - 10px); /* По два изображения в ряд на больших экранах */
  position: relative;
}

.int-gallery img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

/* Эффект затемнения при наведении */
.int-gallery a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Черный полупрозрачный фон */
  opacity: 0;
  transition: opacity 0.3s ease; /* Плавное появление затемнения */
}

.int-gallery a:hover::after {
  opacity: 1; /* Затемнение появляется при наведении */
}

.int-gallery a:hover img {
  cursor: pointer;
}

/* МЕДИА-ЗАПРОС ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВ (до 768px) */
@media (max-width: 768px) {
  .int-gallery {
    padding: 5px; /* Уменьшаем отступы для мобильных устройств */
  }
}

@media (max-width: 768px) {
  .int-gallery a {
    width: 100%; /* Один элемент на ряд */
  }
}

/* 360 PANORAMA Gallery */

/* Галерея */
.pan-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 4px; /* Отступы между изображениями */
  padding: 40px;
  justify-content: center; /* Центрируем галерею по горизонтали */
}

.pan-gallery a {
  display: block;
  width: calc(50% - 10px); /* По два изображения в ряд на больших экранах */
  position: relative;
}

.pan-gallery img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

/* Эффект затемнения при наведении */
.pan-gallery a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Черный полупрозрачный фон */
  opacity: 0;
  transition: opacity 0.3s ease; /* Плавное появление затемнения */
}

.pan-gallery a:hover::after {
  opacity: 1; /* Затемнение появляется при наведении */
}

.pan-gallery a:hover img {
  cursor: pointer;
}

/* МЕДИА-ЗАПРОС ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВ (до 768px) */
@media (max-width: 768px) {
  .pan-gallery {
    padding: 5px; /* Уменьшаем отступы для мобильных устройств */
  }
}

@media (max-width: 768px) {
  .pan-gallery a {
    width: 100%; /* Один элемент на ряд */
  }
}
